.jumbotron {

background-color:purple;
color:white;

}

footer 
{
 padding: 10px 10px 0 10px;
 background-color:yellow;
 margin-bottom:0px;
 margin-top: 10px;

}

.card-hotel{
  flex:1 250px;
  margin-top: 10px;
}

.btn-reserva{
    background-color:green;
	width: 100%;
	border-radius: 0px;
}

.body
{
color: lightblue;
}

.footer-adress-icon {

padding-right: 10px

}

.tab-content {

 padding-top: 10px;
}